
#margem {

    width:800px;
    height:900px;
    border:3px solid black; 

    position:fixed;
    top:calc(50% - 900px / 2);
    right:calc(50% - 800px / 2);
background-color: rgba(128, 128, 128, 0.315);
}

#superior {

    width:770px;
    height:90px;
    border:2px solid black; 
    margin:7px;
    margin-left:15px;

}


#heroimage {

    width:580px;
    height:170px;
    border:2px solid black; 
  
    float:right;
    padding: 0;
    margin-right:20px
}


#heroimage2 {

    width:580px;
    height:170px;

    text-align: left;
    float:left;
    padding: 0;
    margin: 0;
}

#heroimage2 img {

    width: 580px;
    height:170px;
    text-align: left;
    float:left;
}





#inferior {

        width:765px;
        height:70px;
        border:2px solid black; border-radius: 10px;
        margin:2px;
        float:right;
        margin-top:15px;
        margin-right:20px;
        
    }

#superior {
    font-size: 75px;
    text-align: center;
    text-shadow:10px 20px 10px rgba(0, 0, 0, 0.979);
    box-shadow: 7px 4px 15px 15px grey;
    font-weight: 400;
    font-style: bold;
    background-image;
    color:white;
    width:96%;
    height:100px;
    border-bottom:2px solid rgb(4, 5, 4);
    outline:2px solid black;
    font-family: 'Protest Riot', sans-serif;






}

#fundo {
    width: 100%;
    height: 100%;
}






.text {font-size: 20px;
    width: 150px;
    height: 150px;
   background-color: black;




}



